
params.project_name = "unknown"
params.library_type = "unknown"
params.is_umi = false
fwd_adapter = 'AGATCGGAAGAGC'
rev_adapter = 'AGATCGGAAGAGC'
docker.enabled = true

// TODO: version number should contain output of `git describe --tags --dirty`
manifest {
    homePage = 'https://github.com/nkrumm/demux-nf'
    description = 'Nextflow demux pipeline for NCGL/GSTL'
    version = '0.1'
    name = 'demux-nf'
}

profiles {
	uw_batch {
        workDir = 's3://uwlm-personal/nkrumm/nextflow-work-dir'
        process {
            scratch = "/docker_scratch"
            queue = 'ngs-queue'
            executor = 'awsbatch'
            cpus 30
            memory '68 GB'
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
            cpus 30
            memory '68 GB'
        }
	}
	local {
	    executor = 'local'
	    cpus 20
	    memory '30 GB'
            report.enabeled = true
	    trace.enabeled = true
            timeline.enabled = true
            dag {
	        enabeled = true
		file = 'dag.html'
                }
            process {
              docker {
               enabled = true
               temp = 'auto'
	       }
	    }
	  }
}