

params.project_name = "unknown"
params.library_type = "unknown"
params.is_umi = false

// TODO: version number should contain output of `git describe --tags --dirty`
manifest {
    homePage = 'https://github.com/nkrumm/demux-nf'
    description = 'Nextflow demux pipeline for NCGL/GSTL'
    version = '0.1'
    name = 'demux-nf'
}

profiles {
	uw_batch {
        workDir = 's3://uwlm-personal/nkrumm/nextflow-work-dir'
        process {
            scratch = "/docker_scratch"
            queue = 'ngs-queue'
            executor = 'awsbatch'
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }
}