
params.fcid = "H7NFYBCX3"
params.run_id = "200124_NCGL3_0603_H7NFYBCX3"
params.config = "config.json"
params.samplesheet = "SampleSheet.converted.csv"
params.output_path = "/docker_scratch/publish"
params.adapters = "/sequencing_adapters.fa"


profiles {
	uw_batch {
        workDir = 's3://uwlm-personal/nkrumm/nextflow-work-dir'
        process {
            scratch = "/docker_scratch"
            queue = 'ngs-queue'
            executor = 'awsbatch'
            container = params.container
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }
}